/*
	UTILIDADES RDW
	==================
*/
.centrado {
	display: block;
	clear: both;
	float: none !important;
	margin-right: auto !important;
    margin-left: auto !important;
}
// alinear texto
.ta-c         { text-align: center; }
.ta-l         { text-align: left ; }
.ta-r         { text-align: right; }
// padding
.no_padding   {padding: 0 !important; }

// Mizins y loops
.clear_b{
    @include clear_b;
}
@for $i from 1 through 10 {
    /*Width ↓↓↓*/
    .w#{$i}0 {
        @include clear_b;
        width: #{$i}0%;
    }
    /*Margins ↓↓↓*/
    .mt#{$i}0{
        margin-top: #{$i}0px;
    }
    .mb#{$i}0{
        margin-bottom: #{$i}0px;
    }
    .mr#{$i}0{
        margin-right: #{$i}0px;
    }
    .ml#{$i}0{
        margin-left: #{$i}0px;
    }
}