<header>
	<nav class="navbar navbar-default">
		<div class="container">
		<!-- <h1>User listtsts</h1> -->
			<div class="navbar-header pull-left">
				<h1 class="logo">
					<img src="img/Logo_Banlinea.png" alt="Banlinea">
				</h1>
			</div>

			<div class="pull-right">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Login</a></li>
					<li class="active"><a href="#/signup">Signup</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>
