<div class="container">
	<div class="row">
		<form ng-submit="signup.createUser(datos)" class="col-md-4" ng-init="datos.Contacts =[]">
			<div class="form-group">
				<label for="">Compañia</label>
				<input class="form-control" ng-model="datos.Contacts[0].Company" type="text" required>
			</div>

			<div class="form-group">
				<label for="">Email</label>
				<input class="form-control" ng-init="datos.Contacts[0].EmailsAddress =[]" ng-model="datos.Contacts[0].EmailsAddress[0]" type="email" required>
			</div>

			<div class="form-group">
				<label for="">Apellido</label>
				<input class="form-control" ng-model="datos.Contacts[0].LastName" type="text" required>
			</div>

			<div class="form-group">
				<label for="">Nombre</label>
				<input class="form-control" ng-model="datos.Contacts[0].Name" type="text" required>
			</div>

			<div class="form-group">
				<label for="">Pais Codigo</label>
				<input class="form-control" ng-init="datos.Contacts[0].PhoneNumbers =[]" ng-model="datos.Contacts[0].PhoneNumbers[0].Country.code" type="number" required>
			</div>

			<div class="form-group">
				<label for="">Pais</label>
				<select class="form-control" name="" id="" ng-model="datos.Contacts[0].PhoneNumbers[0].Country.name">
					<option ng-repeat="country in signup.countries" value="">{{country.Name}}</option>
				</select>
			</div>
			<div class="form-group">
				<label for="">Telefono</label>
				<input class="form-control" ng-model="datos.Contacts[0].PhoneNumbers[0].Number" type="number" required>
			</div>

			<div class="form-group">
				<label for="">Foto</label>
				<input class="form-control" ng-model="datos.Contacts[0].Photo" type="text" required>
			</div>


			<div class="form-group">
				<label for="">Latitud</label>
				<input class="form-control" ng-model="datos.Location.Latitude" type="number" required>
			</div>

			<div class="form-group">
				<label for="">Longitud</label>
				<input class="form-control" ng-model="datos.Location.Longitude" type="number" required>
			</div>

			<div class="form-group hidden">
				<label for="">Registrado por</label>
				<input class="form-control" ng-init="datos.RegisteredBy.Name = 'Brayan Stiven Camargo Gaitán'" ng-model="datos.RegisteredBy.Name" type="text" required>
			</div>

			<div class="form-group hidden">
				<label for="">RegisteredBy Type</label>
				<input class="form-control" ng-init="datos.Type = 1" ng-model="datos.Type" type="number" required>
			</div>


			<button type="submit" class="btn btn-success">Registrarse</button>

		</form>
	</div>
</div>




